body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* //navbar */
nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  height: 30px;
  width: 100px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.search-box {
  display: flex;
  align-items: center;
  border-radius: 20%;
}

input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 8px 15px;
  background-color: #fd5f4d;
  color: #fff;
  border: none;
  cursor: pointer;
}
